# compiled output
/dist
/node_modules

# logs
*.log
npm-debug.log*

# env
.env

# coverage
/coverage

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

.DS_Store
